<%- include( "../../../partials/admin/sidebar" ) -%>

<div class="dashboard">
    <header class="dashboard__header">

        <nav class="dashboard__nav">
            <div class="dashboard__nav-title">
                <h1>Dashboard</h1>
            </div>

            <a href="/admin" class="dashboard__profile">

                <div class="dashboard__profile-image-wrapper">
                    <img src="/assets/images/admin.png" class="dashboard__profile-image" />
                </div>

                <div class="dashboard__profile-text">
                    Admin
                </div>

            </a>
        </nav> 
        
    </header>

    <div class="dashboard__section">

        <div class="dashboard__section-main">
            <h3 class="dashboard__section-title mb-0">View Medicine Details: </h3>
            
            <div class="dashboard__section-view-table-wrapper mt-4">

                <table class="dashboard__section-view-table">
                    <tbody>
                        <tr>
                            <th>Medicine Name</th>
                            <td>Paracetamol</td>
                        </tr>
                        <tr>
                            <th>Medicine Category</th>
                            <td>Pain Relief</td>
                        </tr>
                        <tr>
                            <th>Medicine Price</th>
                            <td>Rs. 150</td>
                        </tr>
                        <tr>
                            <th>Stock Quantity</th>
                            <td>250</td>
                        </tr>
                        <tr>
                            <th>Supplier Name</th>
                            <td>ABC Pharma</td>
                        </tr>
                        <tr>
                            <th>Supplier Contact#</th>
                            <td>+92 300 1234567</td>
                        </tr>
                        <tr>
                            <th>Supplier Address</th>
                            <td>Lahore, Pakistan</td>
                        </tr>
                    </tbody>
                </table>

            </div>

        </div>

    </div>
</div>

<%- include( "../../../partials/admin/footer" ) -%>