* {
    box-sizing: border-box;
    margin: 0;
}

body {
    margin: 0;
    display: flex;
    flex-direction: column;
}

p {
    margin-bottom: 0;
}

:root {
    --primary-blue: #006eb9;
    --primary-green: #9cc500;
    --bg-dark: #212529;
    --text-dark: #212529;
    --text-light: #fff;
}

.header_top {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px 0;
}

.header_top .logo {
    width: 180px;
}

nav {
    padding: 8px 0;
    position: sticky !important;
    top: 0 !important;
    z-index: 999;
}


.nav-link {
    color: var(--text-light) !important;
    border-radius: 50px;
    margin-right: 10px;
    padding-left: 20px !important;
    padding-right: 20px !important;
}

.nav-link:hover {
    background-color: #ffffff5b;
}

.nav-link.login {
    background-color: #fff;
    color: var(--text-dark) !important;
    padding-left: 20px !important;
    padding-right: 20px !important;
}

.login:hover {
  background-color: #d1d1d1;
}

.dropdown-item:hover {
    color: var(--text-light) !important;
    background-color: #ffffff33 !important;
}

.search-medicine {
    border-radius: 50px;
    border: 3px solid #fff !important;
    color: var(--text-light) !important;
    padding-right: 30px !important;
    padding-left: 30px !important;
}

/* Cards Container */
.card-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
  padding-top: 50px;
  padding-bottom: 20px;
  padding-left: 0;
  padding-right: 0;
}

/* Card */
.card {
  border: 1px solid #757575;
  border-radius: 10px;
  overflow: hidden;
  background: #fff;
  box-shadow: 2px 2px 10px #999;
}

.card-header {
    padding: 0;
}

/* Header Image */
.card-header img {
  width: 100%;
  height: 230px;
  object-fit: cover;
  padding: 0;
}

/* Body */
.card-body {
  padding: 15px;
}

/* Title */
.card-title {
  font-size: 18px;
  margin-bottom: 10px;
}

/* Info Row */
.card-info {
  display: flex;
  justify-content: space-between;
  margin-bottom: 15px;
}

/* Category & Price */
.category {
  color: #000;
  border-radius: 50px;
  font-size: 14px;
}

.price {
  background-color: var(--primary-blue);
  color: white;
  padding: 4px 10px;
  font-size: 14px;
  border-radius: 20px;
}

/* Button */
.add-to-cart-btn {
  width: 100%;
  padding: 4px;
  border-radius: 50px;
  border: 1px solid #000;
  background: #f5f5f5;
  color: #000;
  text-align: center;
  cursor: pointer;
  display: inline-block;
  text-decoration: none;
}

.add-to-cart-btn:hover {
    background-color: #212529;
    color: #fff;
}

.card-info {
  margin-top: 10px;
}

.add-to-cart-btn {
  margin-top: 5px;
}

.pagination-container {
    margin: 20px 0 40px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
}

.page-btn {
    padding: 5px 10px;
    background-color: #f8f9fa;
    border: 1px solid #212529;
    cursor: pointer;
    transition: all 0.3s ease;
    border-radius: 5px;
    text-decoration: none;
    color: #212529;
    font-size: 18px;
}

.page-btn:hover {
    background-color: #212529;
    color: #fff;
}

.arrow {
    font-weight: bold;
    font-size: 18px;
}

.footer {
    background-color: #212529;
    color: #ffffff;
    text-align: center;
    padding: 15px 0;
    margin-top: 50px;
}

.footer p {
    margin: 0;
    font-size: 14px;
}

.login-container {
    margin: 80px 0 80px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}

.login-container-left {
    width: 50%;
    padding: 50px;
    padding-left: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.login-container-right {
    overflow: hidden;
    height: 100%;
    width: 50%;
    display: flex;
    align-items: center;
    box-shadow: 2px 2px 15px #212121;
    border-radius: 10px;
}

.login-container-right > img {
    width: 100%;
    object-fit: cover;
    height: 100%;
}

.login-container-left form {
    width: 90%;
}

.form-control {
    padding-left: 10px;
    border-radius: 5px;
}

.login-btn {
    width: 100%;
    border-radius: 5px;
    border: 2px solid #212121;
    background-color: #212121;
    color: white;
    margin-top: 20px;
}

.login-btn:hover {
    background-color: #fff;
    color: #212121;
    border: 2px solid #212121;
}

.login-tabs-container {
    height: 455px;
    padding-top: 25px;
    
}

.login-tabs-buttons {
    margin-bottom: 20px;
}

.login-tabs-buttons > button.tab {
    border: 2px solid #212121;
    padding: 8px 20px;
    font-size: 18px;
    border-radius: 5px;
    color: #212121;
}

.login-tabs-buttons > .tab.active {
    background-color: #212121;
    color: #fff;
}

.login-panel {
    display: none;
}

.login-footer {
    margin-top: 15px;
}

.sidebar {
    background-color: var(--bg-dark);
    width: 20%;
    height: 100vh;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: fixed;
    top: 0;
    left: 0;
}

.sidebar__title {
    font-size: 28px;
    margin-bottom: 40px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin-top: 30px;
    margin-left: 30px;
    font-weight: bold;
    display: inline-block;
    text-decoration: none;
}

.sidebar__title-main {
    color: var(--primary-green);
}

.sidebar__title-sub {
    color: var(--primary-blue);
}

.sidebar__list {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.sidebar__link {
    color: #fff;
    text-decoration: none;
    padding: 10px 0;
    display: inline-block;
    border-bottom: 1px solid #616161;
    width: 100%;
    padding-left: 30px;
}

.sidebar__link:hover {
    background-color: #3d454d;
}

.sidebar__link-icon {
    display: inline-block;
    color: var(--primary-green);
}

.sidebar__link-text {
    display: inline-block;
    margin-left: 5px;
}

.sidebar__footer {
    width: 100%;
}

.logout-admin__link {
    margin-top: auto;
    width: 100%;
    display: inline-block;
    margin-bottom: 30px;
    padding: 8px 0;
    padding-left: 30px;
    font-size: 18px;
    text-decoration: none;
    border-bottom: 1px solid #616161;
    border-top: 1px solid #616161;
}

.logout-admin__link:hover {
    background-color: #4d3d3d;
}

.logout-admin__link-icon {
    color: #ff3131;
    font-size: 20px;
    transform: rotate(180deg);
}

.logout-admin__link-text {
    margin-left: 5px;
    color: #ff3131;
}

.dashboard-admin {
    width: 80%;
    margin-left: auto;
    height: 100vh;
}

.form-group {
    display: flex;
    justify-content: space-between;
}

.dashboard {
    width: 80%;
    margin-left: auto;
}

.dashboard__header {
    background-color: #006eb9;
    margin-bottom: 30px;
}

.dashboard__nav {
    padding-right: 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.dashboard__nav-title > h1 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: 0;
    margin-left: 30px;
    font-size: 28px;
    font-weight: bolder;
    color: #fff;
}

.dashboard__profile {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding: 10px 0;
    text-decoration: none;
    color: black;
}

.dashboard__profile-image-wrapper {
    border-radius: 50px;
    margin-right: 10px;
    overflow: hidden;
}

.dashboard__profile-image {
    object-fit: cover;
    width: 40px;
    height: 40px;
    object-fit: cover;
    display: inline-block;
    filter: invert(1);
}

.dashboard__profile-text {
    font-size: 18px;
    color: #fff;
}

.dashboard__stats-container {
    padding: 20px 30px;
}

.dashboard__stats {
    display: flex;
    justify-content: space-between;
    gap: 20px;
}

.dashboard__stat-card {
    flex: 1;
    background-color: #006eb9;
    display: flex;
    align-items: center;
    padding: 20px;
    border-radius: 6px;
    color: white;
}

.dashboard__stat-icon {
    font-size: 28px;
    margin-right: 15px;
}

.dashboard__stat-content {
    display: flex;
    flex-direction: column;
}

.dashboard__stat-number {
    margin: 0;
    font-size: 26px;
    font-weight: bold;
}

.dashboard__stat-label {
    margin: 0;
    font-size: 14px;
}


.dashboard__table-container {
    margin: 20px 30px;
    background-color: #fff;
    border-radius: 6px;
}


.dashboard__table {
    width: 100%;
    border-collapse: collapse;
}


.dashboard__table thead {
    background-color: #f5f5f5;
}

.dashboard__table th {
    text-align: left;
    padding: 12px;
    font-size: 14px;
    background: #006eb9;
    color: #fff;
}


.dashboard__table td {
    padding: 12px;
    border-top: 1px solid #ddd;
    font-size: 14px;
}

.dashboard__table tbody {
    border-bottom: 1px solid #ddd;
}


.dashboard__table tbody tr:hover {
    background-color: #f9f9f9;
}


.status {
    padding: 4px 10px;
    border-radius: 4px;
    font-size: 12px;
    color: #fff;
}

.status--pending {
    background-color: #006eb9;
}

.status--completed {
    background-color: #9cc500;
}

.dashboard__analytics {
    display: flex;
    gap: 20px;
    padding: 20px 30px;
}

.dashboard__map-container,
.dashboard__chart-container {
    flex: 1;
    background-color: #fff;
    padding: 0;
    padding-right: 20px;
    padding-bottom: 20px;
    border-radius: 6px;
    height: 345px;
}

.dashboard__section-title {
    margin-bottom: 15px;
    font-size: 18px;
}

#map {
    width: 100%;
    height: 300px;
    border-radius: 6px;
    border: 1px solid #006eb9;
}

#ordersChart {
    width: 100%;
    height: 300px;
}

.dashboard__section {
    padding: 20px 30px;
    border-radius: 6px;
}

.dashboard__section-top {
    margin-bottom: 40px;
}

.dashboard__section-main {
    margin-bottom: 20px;
}

.dashboard__section-actions {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 10px;
}

.dashboard__section-search {
    width: 80%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.dashboard__section-add {
    background-color: #006eb9;
    color: #fff;
    width: 20%;
    padding: 10px 15px;
    text-decoration: none;
    text-align: center;
    border-radius: 5px;
    margin-left: 10px;
}

.medicine__add-btn:hover {
    opacity: 0.9;
}

.dashboard__section-table {
    width: 100%;
    border-collapse: collapse;
    border-radius: 5px;
}

.dashboard__section-table thead {
    background-color: #f5f5f5;
}

.dashboard__section-table th {
    text-align: left;
    padding: 12px;
    border: 1px solid #999;
    font-size: 14px;
    text-align: center;
}


.dashboard__section-table td {
    padding: 12px;
    font-size: 14px;
    border: 1px solid #999;
    text-align: center;
}


.dashboard__section-table tbody tr:nth-child(odd) {
    background-color: #dfdfdf;
}

.dashboard__section-table tbody tr:nth-child(even) {
    background-color: #fff;
}

.dashboard__section-table tbody tr:hover {
    background-color: #eaeaea;
}

.dashboard__section-cell-actions {
    display: flex;
    justify-content: center;
    gap: 8px;
}

.action-btn {
    display: flex;
    align-items: center;
    gap: 5px;
    background-color: #006eb9;
    color: #fff;
    padding: 5px 8px;
    font-size: 12px;
    text-decoration: none;
    border-radius: 4px;
}

.action-btn:hover {
    opacity: 0.85;
}

.dashboard__section-pagination {
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}


.pagination__numbers {
    display: flex;
    gap: 10px;
    margin: 0 10px;
}


.pagination__btn {
    background-color: #fff;
    border: 1px solid #006eb9;
    color: #006eb9;
    padding: 8px 12px;
    text-decoration: none;
    border-radius: 4px;
    transition: 0.3s;
}

.pagination__btn:hover {
    background-color: #006eb9;
    color: #fff;
}

/***  March 30, 2026 *********/

.dashboard__secion-form-container {
    margin-top: 40px;
}

.dashboard__secion-form-row {
    display: flex;
    gap: 20px;
    margin-bottom: 20px;
}

.dashboard__secion-form-group {
    flex: 1;
    display: flex;
    flex-direction: column;
}

.dashboard__secion-form-label {
    margin-bottom: 10px;
    font-size: 14px;
    font-weight: 500;
    color: #006eb9;
}

.dashboard__secion-form-input,
.dashboard__secion-form-select {
    padding: 10px;
    border: 1px solid #99a2aa;
    border-radius: 4px;
    font-size: 14px;
    outline: none;
    transition: border-color 0.2s ease;
}

.dashboard__secion-form-file {
    border: 1px solid #99a2aa;
}

.dashboard__secion-form-input:focus,
.dashboard__secion-form-select:focus,
.dashboard__secion-form-file:focus {
    border-color: #006eb9;
}

.dashboard__secion-form-file {
    padding: 6px;
    background-color: #fff;
}

.dashboard__secion-form-actions {
    margin-top: 20px;
    display: flex;
    justify-content: flex-end;
}


.dashboard__secion-form-button {
    padding: 10px 20px;
    border: 1px solid #006eb9;
    background-color: #006eb9;
    color: #ffffff;
    font-size: 14px;
    border-radius: 4px;
    cursor: pointer;
    transition: all 0.2s ease;
    margin-right: 5px;
}

.dashboard__secion-actions {
    margin-top: 40px;
    display: flex;
    justify-content: flex-end;
}

.dashboard__secion-action-button {
    padding: 10px 20px;
    border: 1px solid #006eb9;
    background-color: #006eb9;
    color: #ffffff;
    font-size: 14px;
    border-radius: 4px;
    cursor: pointer;
    transition: all 0.2s ease;
    text-decoration: none;
}

.dashboard__secion-action-button:hover {
    background-color: #00568f;
    color: #fff;
}


.dashboard__secion-form-button:hover {
    background-color: #00568f;
    color: #fff;
}


.medicine-form__button:active {
    transform: scale(0.98);
}

@media (max-width: 768px) {
    .medicine-form__row {
        flex-direction: column;
    }
}


.dashboard__section-view-table {
    width: 100%;
    border-collapse: collapse;
    font-size: 16px;
}


.dashboard__section-view-table tr {
    border-bottom: 1px solid #dee2e6;
}


.dashboard__section-view-table th {
    text-align: left;
    padding: 12px;
    width: 20%;
    background-color: #f8f9fa;
    color: #212529;
    border: 1px solid #999;
    font-weight: 600;
}


.dashboard__section-view-table td {
    padding: 12px;
    color: #495057;
    border: 1px solid #999;
    width: 80%;
}


.dashboard__section-view-table tr:hover {
    background-color: #f1f3f5;
}


@media (max-width: 768px) {
    .dashboard__section-view-table th,
    .mdashboard__section-view-table td {
        display: block;
        border: 1px solid #999;
        width: 100%;
    }

    .dashboard__section-view-table tr {
        margin-bottom: 10px;
        display: block;
        border: 1px solid #dee2e6;
    }
}


.order-status {
    padding: 6px 10px;
    border-radius: 6px;
    border: 1px solid #ccc;
    font-size: 13px;
    cursor: pointer;
    outline: none;
    transition: all 0.2s ease;
}


.order-status:hover {
    border-color: #006eb9;
}

.order-status:focus {
    border-color: #006eb9;
    box-shadow: 0 0 4px #006eb9;
}


.order-status option[value="Pending"] {
    color: #64078f;
}

.order-status option[value="Processing"] {
    color: #07428f;
}

.order-status option[value="Delivered"] {
    color: #128f07;
}

.order-status option[value="Cancelled"] {
    color: #8f1507;
}

th.customer-orders-history-header {
    background-color: #006eb9;
    color: white;
    text-align: center;
    font-size: 18px;
}

.customer-orders-history-table {
    width: 100%;
    border-collapse: collapse;
    border: none;
}

.customer-orders-history-table tr {
    border: none;
}

.customer-orders-history__table {
    width: 100%;
    border-collapse: collapse;
    font-size: 16px;
}

.header {
    background-color: #212529;
    position: relative;
}

.header-top-container {
    max-width: 100%;
    padding: 0 70px;
}

.header-top {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 0;
}

.header-top__logo-container {
    width: 130px;
}

.header-top__logo-image {
    width: 100%;
}

.header-top__search-container {
    width: 60%;
    display: flex;
}

.header-top__search-input-bar {
    width: 100%;
    background-color: #fff;
    border-radius: 50px;
    overflow: hidden;
}

.header-top__search-input-bar > label {
    width: 5%;
    padding-left: 10px;
}

.header-top__search-input-bar > label > i {
    color: #006eb9;
    display: inline-block;
}

.header-top__search-input-bar > input {
    width: 94%;
    border: none;
    padding: 8px;
}

.header-top__search-input-bar > input:focus {
    border: none;
    outline: none;
}


.cart-container {
    background-color: #fff;
    border-radius: 50px;
}

.cart-link {
    padding: 8px 10px;
    color: #000;
    text-decoration: none;
    display: inline-block;
}

.navbar {
    background-color: #006eb9;
    display: flex;
    justify-content: center;
    align-items: center;
    position: sticky;
    top: 0;
    z-index: 999;
    padding: 0;
}

.navbar__navigation-menu {
    padding: 0;
    width: 1140px;
    display: flex;
    justify-content: space-between;
}


.navbar__navigation-menu > ul {
    display: flex;
    list-style: none;
    align-items: center;
    padding: 0;
    margin: 0;
}

.navbar__navigation-menu li {
    color: #fff;
}

.navbar__navigation-menu a {
    color: #fff;
    text-decoration: none;
    padding: 10px 16px;
    display: inline-block;
}

.navbar__navigation-menu a:hover {
    background-color: #003f69;
}

.navbar-dropdown {
    display: relative;
}

.navbar-dropdown-btn {
    background-color: transparent;
    color: white;
    padding: 10px;
    margin: 0;
    border: none;
}

.navbar-dropdown-menu-container {
    display: none;
    position: absolute;
    background-color: var(--primary-blue);
    border-radius: 10px;
    overflow: hidden;
    min-width: 200px;
    box-shadow: 2px 2px 20px #23282c;
}

.navbar-dropdown-menu {
    color: #fff;
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 100%;
}

.navbar-dropdown-link {
    color: #fff;
    display: inline-block;
    padding: 10px 30px;
    width: 100%;
    text-align: left;
    background-color: var(--primary-blue);
}

.navbar-dropdown:hover .navbar-dropdown-menu-container {
    display: block;
}

.category-dropdown-menu-container {
    min-width: 600px;
}

.category-dropdown-menu {
    display: grid;
    grid-template-columns: repeat( 4, 1fr );
}

.category-dropdown-link {
    text-align: center;
}

.product {
    height: 80vh;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.product__container {
    display: flex;
    width: 100%;
    max-width: 1200px;
    gap: 40px;
}

.product__image-container {
    flex: 1;
    height: 70vh;
}

.product__image {
    width: 100%;
    height: 100%;
    object-fit: contain;
    border-radius: 10px;
    border: 1px solid var(--primary-blue);
}

.product__details {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
}

.product__category {
    font-size: 20px;
}

.product__title {
    font-size: 32px;
    margin-bottom: 10px;
}

.product__details-body {
    margin-bottom: 60px;
}

.product__details-header-bottom {
    margin-bottom: 40px;
}

.product__details-header-bottom {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.product__price {
    color: #006eb9;
    font-size: 26px;
}

.product__quantity {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    margin-left: aut;
    width: 100%;
}

.product__btn {
    background-color: #006eb9;
    color: #fff;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    font-size: 26px;
    padding: 5px 30px;
    border-radius: 50px;
}

.product__input {
    text-align: center;
    padding: 5px;
    margin-left: 10px;
    margin-right: 10px;
    border-radius: 50px;
    font-size: 26px;
    width: 20%;
    border: 1px solid #666;
    margin-top: 0;
}

.product__cart-btn {
    padding: 12px;
    background-color: #006eb9;
    color: #fff;
    border: none;
    cursor: pointer;
    margin-bottom: 15px;
    border-radius: 50px;
    width: 100%;
}

.product__cart-btn--active {
    background-color: #dc3545;
}

.shopping-cart {
    min-height: 90vh;
}

.shopping-cart__items-list {
    width: 70%;
}

.shopping-cart__body-container {
    display: flex;
    gap: 40px;
}

.shopping-cart__heading-container {
    margin: 60px 0;
}

.shopping-cart__heading {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bolder;
}

.shopping-cart__product-col {
    width: 80%;
}

.shopping-cart__price-col {
    width: 20%;
}

.shopping-cart__list-table {
    vertical-align: top;
    width: 100%;
}

.shopping-cart__list-table tr {
    border-bottom: 1px solid #999;
}


.shopping-cart__list-table td {
    padding: 10px 0;
}

.shopping-cart__list-table th {
    padding-bottom: 10px;
}

.shopping-cart__product-details-container {
    display: flex;
    align-items: center;
}

.shopping-cart__product-image-container {
    width: 120px;
    overflow: hidden;
    margin-right: 20px;
    border: 1px solid #aaa;
}

.shopping-cart__product-image {
    width: 100%;
    object-fit: cover;
}

.shopping-cart__product-details-title {
    font-size: 24px;
    margin-bottom: 8px;
    font-weight: bolder;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.shopping-cart__product-details-subtitle {
    font-size: 14px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin-bottom: 5px;
}

.shopping-cart__product-price-container h1 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 20px;
}

.shopping-cart__delete-btn {
    padding: 2px 20px !important;
    border-radius: 50px;
    font-size: 12px;
    margin-bottom: auto !important;
}

.shopping-cart__order-container {
    width: 30%;
    height: 450px;
    background-color: #ddd;
    border-radius: 30px;
    padding: 30px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.shopping-cart__order-title {
    margin-bottom: 30px;
}

.shopping-cart__order-details-row {
    display: flex;
    justify-content: space-between;
    font-size: 20px;
    border-bottom: 1px solid #aaa;
    padding: 4px 0;
}

.shopping-cart__order-details-row p {
    padding: 0;
    margin-bottom: 5px;
}

.profile-main-container {
    min-height: 90vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.profile-inner-container {
    width: 90%;
    display: flex;
    gap: 20px;
}

.profile-sidebar {
    width: 30%;
    background: #ccc;
    border-radius: 50px;
    padding: 40px 20px;
    margin: 50px 0;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.profile-tab {
    padding: 15px;
    border-radius: 30px;
    cursor: pointer;
    transition: 0.3s;
}

.profile-tab:hover {
    background: #ccc;
}

.profile-tab.active {
    background: #212529;
    color: #fff;
}

.profile-content {
    width: 80%;
    padding: 0 80px;
}

.tab-panel {
    display: none;
}

.tab-panel.active {
    display: block;
}

.form-group--inline {
    display: flex;
    gap: 20px;
}

.form-group__field {
    width: 50%;
}

#securityPanel {
    width: 100%;
}

.alert-box {
    padding: 20px;
    background-color: #ffb7b7;
    color: #750000;
    border: 1px solid #750000;
    border-radius: 5px;
    box-shadow: 3px 3px 10px #750000;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 16px;
    margin-top: 40px;
}

.alert-box-normal {
    padding: 20px;
    background-color: #fffeb7;
    color: #756900;
    border: 1px solid #756900;
    border-radius: 5px;
    box-shadow: 3px 3px 10px #756900;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 16px;
    margin-top: 40px;   
}

.order-confirmation {
    min-height: 90vh;
}

.order-confirmation__items-list {
    width: 70%;
}

.order-confirmation__body-container {
    display: flex;
    gap: 40px;
}

.order-confirmation__heading-container {
    margin: 60px 0;
}

.order-confirmation__heading {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bolder;
}

.order-confirmation__info {
    width: 70%;
}

.payment-box__info {
    display: flex;
    gap: 30px;
    flex-wrap: wrap;
    background-color: #ccc;
    margin: 20px 0 20px;
    border-radius: 5px;
    padding: 30px;
    font-size: 18px;
}

.payment-box__input-container {
    width: 48%;
}

.payment-box__input-container label {
    margin-bottom: 10px;
}

.payment-box__input-container input {
    width: 100%;
    padding: 10px;
    font-size: 18px;
    border-radius: 5px;
}

.payment-box__submit-btn {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    width: 100%;
    flex: 1 0 100%;
}

.payment-box__submit-btn button {
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    background-color: #000;
    margin-left: auto;
    display: inline-block;
    color: white;   
}

.payment-box__submit-btn button:hover {
    background-color: #202020;
}

.payment-box__info {
    display: none;
}

.shipping-form__row {
    display: flex;
    gap: 20px;
    margin-bottom: 15px;
}

.shipping-form__field {
    flex: 1;
    display: flex;
    flex-direction: column;
}

.shipping-form__input {
    padding: 8px;
}

.shipping-form__field label {
    margin-bottom: 10px;
}

.shipping-form__field input {
    border-radius: 5px;
    border: 1px solid #666;
}