<%- include( "../../../partials/admin/sidebar" ) -%>

<div class="dashboard">
    <header class="dashboard__header">

        <nav class="dashboard__nav">
            <div class="dashboard__nav-title">
                <h1>Dashboard</h1>
            </div>

            <a href="/admin" class="dashboard__profile">

                <div class="dashboard__profile-image-wrapper">
                    <img src="/assets/images/admin.png" class="dashboard__profile-image" />
                </div>

                <div class="dashboard__profile-text">
                    Admin
                </div>

            </a>
        </nav> 
        
    </header>

    <div class="dashboard__section">

        <!-- Top Section -->
        <div class="dashboard__section-top">
            <div class="d-flex justify-content-between">
                <h3 class="dashboard__section-title">Daily Sales Reports:</h3>
                <%#
                FOR CHATGPT:
                    Make a switch here, When we click on it, it moves left or right.
                    1) When the switch on right, show "Daily" in the background.
                    2) When the switch on the left side, show "Monthly" in the background.
                %>
            </div>

            <%#
                FOR CHATGPT:
                    Now here you should make two panels, when a switch is on right side
                    and "Daily" is written in the background then show the div below.
                    1) Div has heading "Daily sales" on top and below is a table having
                    three columns. 
                        a) First column shows Date.
                        b) 
            %>
        </div>

    </div>
</div>

<script src="/js/scripts/orders/search_order.js"></script>
<%- include( "../../../partials/admin/footer" ) -%>