<div class="banner">
        <div class="header-top__search-container" style="width: 1200px;">
            <div class="header-top__search-input-bar">
                <label for="searchBarInputLabel"><i class="fa-solid fa-magnifying-glass"></i></label>
                <input
                    type="text"
                    id="searchBarInputLabel"
                    placeholder="Search Medicines"
                    onclick="openSearchBox()" 
                    autocomplete="off"
                    readonly="readonly"
                    onclick="document.getElementById( 'medicinesListInputLabel' ).focus()" 
                    oninput="( this.value == '' )? window.location.replace( `/profile/?page=1` ) : searchMedicineByUser(this.value)"
                />
            </div>
        </div>
</div>