<%- include( "../partials/header/postlogin" ) -%>

<div class="container">
    <div class="row">

        <div class="order-confirmation">
            <div class="order-confirmation__heading-container">
                <h1 class="order-confirmation__heading text-danger">Thanks for Shopping with us!!! &#128722;</h1>
            </div>

            <form action="/profile/cart/checkout" method="POST">
                <div class="order-confirmation__body-container">
                    <div class="order-confirmation__info">
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

<script src="/js/scripts/home/postlogin/search_medicine.js"></script>
<%- include( "../partials/footer/footer" ) -%>