<%- include( "../partials/header/postlogin" ) -%>

<div class="container">
    <div class="row">

        <div class="order-confirmation">
            <div class="order-confirmation__heading-container">
                <h1 class="order-confirmation__heading">Your Orders History</h1>
            </div>

            <form action="/profile/cart/checkout" method="POST">
                <div class="order-confirmation__body-container">
                    <div class="order-confirmation__info">

                        <h4>Previous Invoices</h4>
                        <hr />
                        <ul type="1">
                            <% for ( let i = 0; i < customerOrders.length; ++i ) { %>
                                <li>
                                    <a href="/profile/cart/order/confirm/<%= customerOrders[i]._id %>">                            
                                    <% let date = new Date(customerOrders[i].createdAt); %>
                                        Order on <%= `${date.getDate()}/${date.getMonth()+1}/${date.getFullYear()} at ${date.getHours()}:${date.getMinutes()}:${date.getSeconds()}` %>
                                    </a>
                                </li>
                            <% } %>
                        </ul>
                    </div>

                </div>
            </form>
        </div>
    </div>
</div>

<script src="/js/scripts/home/postlogin/search_medicine.js"></script>
<%- include( "../partials/footer/footer" ) -%>