<%- include( "../partials/header/postlogin" ) -%>

<div class="container">
    <div class="row">

        <div class="card-container">

            <%#-- Card --%>
            <div class="card">
                <div class="card-header">
                    <img src="/assets/images/no-image.jpg" alt="Medicine">
                </div>

                <div class="card-body">
                    <h3 class="card-title">Medicine Name</h3>

                    <div class="card-info">
                        <span class="category">Skin Care</span>
                        <span class="price">Rs 180</span>
                    </div>

                    <a href="/profile/product/product_id_111" class="add-to-cart-btn">
                        Add to Cart
                    </a>
                </div>
            </div>

            <%#-- Card --%>
            <div class="card">
                <div class="card-header">
                    <img src="/assets/images/no-image.jpg" alt="Medicine">
                </div>

                <div class="card-body">
                    <h3 class="card-title">Medicine Name</h3>

                    <div class="card-info">
                        <span class="category">Skin Care</span>
                        <span class="price">Rs 180</span>
                    </div>

                    <a href="/profile/product/product_id_111" class="add-to-cart-btn">
                        Add to Cart
                    </a>
                </div>
            </div>

            <%#-- Card --%>
            <div class="card">
                <div class="card-header">
                    <img src="/assets/images/no-image.jpg" alt="Medicine">
                </div>

                <div class="card-body">
                    <h3 class="card-title">Medicine Name</h3>

                    <div class="card-info">
                        <span class="category">Skin Care</span>
                        <span class="price">Rs 180</span>
                    </div>

                    <a href="/profile/product/product_id_111" class="add-to-cart-btn">
                        Add to Cart
                    </a>
                </div>
            </div>


            <%#-- Card --%>
            <div class="card">
                <div class="card-header">
                    <img src="/assets/images/no-image.jpg" alt="Medicine">
                </div>

                <div class="card-body">
                    <h3 class="card-title">Medicine Name</h3>

                    <div class="card-info">
                        <span class="category">Skin Care</span>
                        <span class="price">Rs 180</span>
                    </div>

                    <a href="/profile/product/product_id_111" class="add-to-cart-btn">
                        Add to Cart
                    </a>
                </div>
            </div>

            <%#-- Card --%>
            <div class="card">
                <div class="card-header">
                    <img src="/assets/images/no-image.jpg" alt="Medicine">
                </div>

                <div class="card-body">
                    <h3 class="card-title">Medicine Name</h3>

                    <div class="card-info">
                        <span class="category">Skin Care</span>
                        <span class="price">Rs 180</span>
                    </div>

                    <a href="/profile/product/product_id_111" class="add-to-cart-btn">
                        Add to Cart
                    </a>
                </div>
            </div>

            <%#-- Card --%>
            <div class="card">
                <div class="card-header">
                    <img src="/assets/images/no-image.jpg" alt="Medicine">
                </div>

                <div class="card-body">
                    <h3 class="card-title">Medicine Name</h3>

                    <div class="card-info">
                        <span class="category">Skin Care</span>
                        <span class="price">Rs 180</span>
                    </div>

                    <a href="/profile/product/product_id_111" class="add-to-cart-btn">
                        Add to Cart
                    </a>
                </div>
            </div>

            <%#-- Card --%>
            <div class="card">
                <div class="card-header">
                    <img src="/assets/images/no-image.jpg" alt="Medicine">
                </div>

                <div class="card-body">
                    <h3 class="card-title">Medicine Name</h3>

                    <div class="card-info">
                        <span class="category">Skin Care</span>
                        <span class="price">Rs 180</span>
                    </div>

                    <a href="/profile/product/product_id_111" class="add-to-cart-btn">
                        Add to Cart
                    </a>
                </div>
            </div>

            <%#-- Card --%>
            <div class="card">
                <div class="card-header">
                    <img src="/assets/images/no-image.jpg" alt="Medicine">
                </div>

                <div class="card-body">
                    <h3 class="card-title">Medicine Name</h3>

                    <div class="card-info">
                        <span class="category">Skin Care</span>
                        <span class="price">Rs 180</span>
                    </div>

                    <a href="/profile/product/product_id_111" class="add-to-cart-btn">
                        Add to Cart
                    </a>
                </div>
            </div>

            <%#-- Card --%>
            <div class="card">
                <div class="card-header">
                    <img src="/assets/images/no-image.jpg" alt="Medicine">
                </div>

                <div class="card-body">
                    <h3 class="card-title">Medicine Name</h3>

                    <div class="card-info">
                        <span class="category">Skin Care</span>
                        <span class="price">Rs 180</span>
                    </div>

                    <a href="/profile/product/product_id_111" class="add-to-cart-btn">
                        Add to Cart
                    </a>
                </div>
            </div>

            <%#-- Card --%>
            <div class="card">
                <div class="card-header">
                    <img src="/assets/images/no-image.jpg" alt="Medicine">
                </div>

                <div class="card-body">
                    <h3 class="card-title">Medicine Name</h3>

                    <div class="card-info">
                        <span class="category">Skin Care</span>
                        <span class="price">Rs 180</span>
                    </div>

                    <a href="/profile/product/product_id_111" class="add-to-cart-btn">
                        Add to Cart
                    </a>
                </div>
            </div>

            <%#-- Card --%>
            <div class="card">
                <div class="card-header">
                    <img src="/assets/images/no-image.jpg" alt="Medicine">
                </div>

                <div class="card-body">
                    <h3 class="card-title">Medicine Name</h3>

                    <div class="card-info">
                        <span class="category">Skin Care</span>
                        <span class="price">Rs 180</span>
                    </div>

                    <a href="/profile/product/product_id_111" class="add-to-cart-btn">
                        Add to Cart
                    </a>
                </div>
            </div>

            <%#-- Card --%>
            <div class="card">
                <div class="card-header">
                    <img src="/assets/images/no-image.jpg" alt="Medicine">
                </div>

                <div class="card-body">
                    <h3 class="card-title">Medicine Name</h3>

                    <div class="card-info">
                        <span class="category">Skin Care</span>
                        <span class="price">Rs 180</span>
                    </div>

                    <a href="/profile/product/product_id_111" class="add-to-cart-btn">
                        Add to Cart
                    </a>
                </div>
            </div>

            <%#-- Card --%>
            <div class="card">
                <div class="card-header">
                    <img src="/assets/images/no-image.jpg" alt="Medicine">
                </div>

                <div class="card-body">
                    <h3 class="card-title">Medicine Name</h3>

                    <div class="card-info">
                        <span class="category">Skin Care</span>
                        <span class="price">Rs 180</span>
                    </div>

                    <a href="/profile/product/product_id_111" class="add-to-cart-btn">
                        Add to Cart
                    </a>
                </div>
            </div>

            <%#-- Card --%>
            <div class="card">
                <div class="card-header">
                    <img src="/assets/images/no-image.jpg" alt="Medicine">
                </div>

                <div class="card-body">
                    <h3 class="card-title">Medicine Name</h3>

                    <div class="card-info">
                        <span class="category">Skin Care</span>
                        <span class="price">Rs 180</span>
                    </div>

                    <a href="/profile/product/product_id_111" class="add-to-cart-btn">
                        Add to Cart
                    </a>
                </div>
            </div>

            <%#-- Card --%>
            <div class="card">
                <div class="card-header">
                    <img src="/assets/images/no-image.jpg" alt="Medicine">
                </div>

                <div class="card-body">
                    <h3 class="card-title">Medicine Name</h3>

                    <div class="card-info">
                        <span class="category">Skin Care</span>
                        <span class="price">Rs 180</span>
                    </div>

                    <a href="/profile/product/product_id_111" class="add-to-cart-btn">
                        Add to Cart
                    </a>
                </div>
            </div>

        </div>
    </div>

    <div class="pagination-container">
        <a href="#" class="page-btn arrow">&laquo;</a>
        <a href="#" class="page-btn">1</a>
        <a href="#" class="page-btn">2</a>
        <a href="#" class="page-btn arrow">&raquo;</a>
    </div>

    

</div>



<%- include( "../partials/footer/footer" ) -%>