<%- include( "../../../partials/admin/sidebar" ) -%>

<div class="dashboard">
    <header class="dashboard__header">

        <nav class="dashboard__nav">
            <div class="dashboard__nav-title">
                <h1>Dashboard</h1>
            </div>

            <a href="/admin" class="dashboard__profile">

                <div class="dashboard__profile-image-wrapper">
                    <img src="/assets/images/admin.png" class="dashboard__profile-image" />
                </div>

                <div class="dashboard__profile-text">
                    Admin
                </div>

            </a>
        </nav> 
        
    </header>

    <div class="dashboard__section">

        <div class="dashboard__section-main">
            <h3 class="dashboard__section-title mb-0">Customer Details: </h3>
            
            <div class="mt-4">

                <table class="dashboard__section-view-table">
                    <tbody>
                        <tr>
                            <th>Customer Name</th>
                            <td>Ali Khan</td>
                        </tr>
                        <tr>
                            <th>Customer Email</th>
                            <td>ak123@example.com</td>
                        </tr>
                        <tr>
                            <th>Customer Contact</th>
                            <td>+92 301 2345678</td>
                        </tr>
                        <tr>
                            <th>Customer Address</th>
                            <td>Islamabad, Pakistan</td>
                        </tr>
                    </tbody>
                </table>

            </div>

        </div>

    </div>

    <div class="dashboard__section pt-0">
        <div class="dashboard__section-main">
            <h3 class="dashboard__section-title mb-0">Customer Orders history: </h3>

            <div class="mt-4">
                <table class="dashboard__section-table">
                    <thead>
                        <tr>
                            <th>Order#</th>
                            <th>Date</th>
                            <th>Time</th>
                            <th>Total Amount</th>
                            <th>Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>1</td>
                            <td>March 26, 2026 (Thursday)</td>
                            <td>03:30 PM</td>
                            <td>550</td>
                            <td>
                                <div class="dashboard__section-cell-actions">
                                    <a href="/admin/manage/orders/view/orders_id_789" class="action-btn">
                                        <i class="fa-solid fa-eye"></i>
                                        View More
                                    </a>
                                </div>
                            </td>
                        </tr>

                        <tr>
                            <td>2</td>
                            <td>March 27, 2026 (Friday)</td>
                            <td>12:30 PM</td>
                            <td>750</td>
                            <td>
                                <div class="dashboard__section-cell-actions">
                                    <a href="/admin/manage/orders/view/orders_id_789" class="action-btn">
                                        <i class="fa-solid fa-eye"></i>
                                        View More
                                    </a>
                                </div>
                            </td>
                        </tr>

                        <tr>
                            <td>3</td>
                            <td>March 28, 2026 (Saturday)</td>
                            <td>04:30 PM</td>
                            <td>850</td>
                            <td>
                                <div class="dashboard__section-cell-actions">
                                    <a href="/admin/manage/orders/view/orders_id_789" class="action-btn">
                                        <i class="fa-solid fa-eye"></i>
                                        View More
                                    </a>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>

            <!-- Pagination -->
            <div class="dashboard__section-pagination">

                <a href="#" class="pagination__btn">&laquo;</a>

                <div class="pagination__numbers">
                    <a href="#" class="pagination__btn">1</a>
                    <a href="#" class="pagination__btn">2</a>
                    <a href="#" class="pagination__btn">3</a>
                </div>

                <a href="#" class="pagination__btn">&raquo;</a>

            </div>

            <div class="dashboard__secion-actions">
                <a href="/admin/manage/customers" class="dashboard__secion-action-button">
                    Go Back
                </a>
            </div>

        </div>
    </div>
</div>

<%- include( "../../../partials/admin/footer" ) -%>