<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/png" href="/assets/favicon/favicon.png">
    <link rel="stylesheet" href="/styles/bootstrap/css/bootstrap.min.css" />
    <link rel="stylesheet" href="/styles/custom/custom.css" />
    <link rel="stylesheet" href="/fa/css/all.min.css">
    <title>Novameds</title>
</head>
<body>

<div class="header">
    <div class="header-top-container">
        <div class="header-top">

        <div class="header-top__logo-container">
            <a href="/profile">
                <img 
                    src="/assets/logo/Logo.png"
                    class="header-top__logo-image"
                />
            </a>
        </div>

        <div class="header-top__search-container">
            <div class="header-top__search-input-bar">
                <label for="searchBarInputLabel"><i class="fa-solid fa-magnifying-glass"></i></label>
                <input 
                    type="text"
                    id="searchBarInputLabel"
                    placeholder="Search Medicines"                    
                    oninput="( this.value == '' )? window.location.replace( `/profile/?page=1` ) : searchMedicineByUser(this.value)"
                />
            </div>
        </div>

        <div class="header-top__cart-button">
            <div class="cart-container">
                <a href="/profile/cart" class="cart-link">
                    <i class="fa-solid fa-cart-shopping"></i>
                    <span id="cart-text">3</span>
                </a>
            </div>
        </div>

        </div>
    </div>
</div>

<div class="navbar">

    <nav class="navbar__navigation-menu">
        <ul>
            <li>
                <a href="/profile">Home</a>
            </li>
            <li>
                <div class="navbar-dropdown">
                    <button class="navbar-dropdown-btn">
                        <span>Categories</span>
                        <i class="fa-solid fa-angle-down"></i>
                    </button>

                    <div class="navbar-dropdown-menu-container category-dropdown-menu-container">
                        <ul class="navbar-dropdown-menu category-dropdown-menu">
                            <% 
                                let medicineCategoriesSet = new Set(); 
                                medicineRecords.forEach(singleMedicineCategory => {
                                    medicineCategoriesSet.add( singleMedicineCategory.medicineCategory )
                                });
                                let categories = medicineCategoriesSet.values();
                            %>
                            <% for ( let category of categories ) { %>
                                <li>
                                    <a href="/profile/?category=<%= category %>" 
                                        class="navbar-dropdown-link category-dropdown-link"
                                        id="navbarDropdownLink"
                                    >
                                        <%= category %>
                                    </a>
                                </li>
                            <% }; %>
                        </ul>
                    </div>
                </div>
            </li>
        </ul>

        <ul>
            <li>
                <div class="navbar-dropdown">
                    <button class="navbar-dropdown-btn">
                        <i class="fa-solid fa-user"></i>
                        <% if ( nameOfLoggedInUser ) { %>
                            <%= nameOfLoggedInUser %>
                        <% } %>
                    </button>

                    <div class="navbar-dropdown-menu-container">
                        <ul class="navbar-dropdown-menu">
                            <li>
                                <a href="/profile/settings" class="navbar-dropdown-link">
                                    <i class="fa-solid fa-gear"></i>
                                    Settings
                                </a>
                            </li>
                            <li>
                                <a href="/user/logout" class="navbar-dropdown-link">
                                    <i class="fa-solid fa-right-from-bracket pe-3"></i>
                                    Logout
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </li>
        </ul>
    </nav>

</div>