<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/png" href="/assets/favicon/favicon.png">
    <link rel="stylesheet" href="/styles/bootstrap/css/bootstrap.min.css" />
    <link rel="stylesheet" href="/styles/custom/custom.css" />
    <link rel="stylesheet" href="/fa/css/all.min.css">
    <title>Novameds</title>
</head>
<body>

<div class="header">
    <div class="header-top-container">
        <div class="header-top">

        <div class="header-top__logo-container">
            <img 
                src="/assets/logo/Logo.png"
                class="header-top__logo-image"
            />
        </div>

        <div class="header-top__search-container">
            <div class="header-top__search-input-bar">
                <label for="searchBarInputLabel"><i class="fa-solid fa-magnifying-glass"></i></label>
                <input 
                    type="text"
                    id="searchBarInputLabel"
                    placeholder="Search Medicines"
                />
            </div>
        </div>

        <div class="header-top__profile-button">
            <div class="profile-dropdown">
                <button class="profile-btn">
                    <i class="fa-solid fa-user"></i>
                    <span>Muhammad Umar</span>
                </button>

                <div class="dropdown-menu">
                    <a href="/profile/settings">Profile Settings</a>
                    <a href="/logout">Logout</a>
                </div>
            </div>
        </div>

        </div>
    </div>
</div>

<div class="navbar">

    <nav class="navbar__navigation-menu">
        <ul>
            <li>
                <a href="#home">Home</a>
            </li>
            <li>
                <a href="#browse">Browse Medices</a>
            </li>
            <li>
                <div class="categories-dropdown">
                    <button class="categories-dropdown-btn">
                        <span>Categories</span>
                        <i class="fa-solid fa-angle-down"></i>
                    </button>

                    <div class="categories-dropdown-menu-container">
                        <ul class="categories-dropdown-menu">
                            <li>
                                <a href="#skin_care" class="categories-dropdown-link">Skin Care</a>
                            </li>
                            <li>
                                <a href="#feet" class="categories-dropdown-link">Feet</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </li>
            <li>
                <a href="#logout">Logout</a>
            </li>
        </ul>
    </nav>

</div>