<%- include( "../../../partials/admin/sidebar" ) -%>

<div class="dashboard">
    <div style="padding: 20px 30px;">
        <h1 style="color: cornflowerblue;">View Orders</h1>
    </div>
</div>

<%- include( "../../../partials/admin/footer" ) -%>