</div>
<script src="/js/leaflet.min.js"></script>

<!-- Chart.js -->
<script src="/js/chart.min.js"></script>

<script type="module" src="/js/scripts/userCityInfo/userCityOnMap.js"></script>

<script type="module" src="/js/scripts/montlyOrdersBarChart/monthlyOrdersBarChart.js" ></script>

</body>
</html>