<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/png" href="/assets/favicon/favicon.png">
    <link rel="stylesheet" href="/styles/bootstrap/css/bootstrap.min.css" />
    <link rel="stylesheet" href="/styles/custom/custom.css" />
    <link rel="stylesheet" href="/fa/css/all.min.css">
    <link rel="stylesheet" href="/styles/leaflet/leaflet.css" />
    <title>Novameds</title>
</head>
<body>

<div class="layout-admin">

    <div id="sidebar-admin" class="sidebar">
        <div class="sidebar__header">
            <a href="/admin" class="sidebar__title">
                <span class="sidebar__title-main">Admin</span>
                <span class="sidebar__title-sub">Panel</span>
            </a>

            <ul class="sidebar__list">
                <li class="sidebar__item">
                    <a href="/admin/manage/medicines" class="sidebar__link">
                        <i class="fa-solid fa-pills sidebar__link-icon" class="sidebar__link-icon"></i>
                        <span class="sidebar__link-text">Manage Medicines</span>
                    </a>
                </li>

                <li class="sidebar__item">
                    <a href="/admin/manage/customers" class="sidebar__link">
                        <i class="fa-solid fa-users sidebar__link-icon"></i>
                        <span  class="sidebar__link-text">Manage Customer</span>
                    </a>
                </li>

                <li class="sidebar__item">
                    <a href="/admin/manage/suppliers" class="sidebar__link">
                        <i class="fa-solid fa-truck sidebar__link-icon"></i>
                        <span class="sidebar__link-text">Manage Suppliers</span>
                    </a>
                </li>

                <li class="sidebar__item">
                    <a href="/admin/manage/orders" class="sidebar__link">
                        <i class="fa-solid fa-cart-shopping sidebar__link-icon"></i>
                        <span class="sidebar__link-text">Manage Orders</span>
                    </a>
                </li>
            </ul>
        </div>

        <div class="sidebar__footer">
            <a href="#Logout" class="logout-admin__link">
                <i class="fa-solid fa-arrow-right-from-bracket logout-admin__link-icon"></i>
                <span class="logout-admin__link-text">Logout</span>
            </a>            
        </div>
    </div>


