<%- include( "../../../partials/admin/sidebar" ) -%>

<div class="dashboard">
    <header class="dashboard__header">

        <nav class="dashboard__nav">
            <div class="dashboard__nav-title">
                <h1>Dashboard</h1>
            </div>

            <a href="/admin" class="dashboard__profile">

                <div class="dashboard__profile-image-wrapper">
                    <img src="/assets/images/admin.png" class="dashboard__profile-image" />
                </div>

                <div class="dashboard__profile-text">
                    Admin
                </div>

            </a>
        </nav> 
        
    </header>

    <div class="dashboard__section">

        <div class="dashboard__section-main">
            <h3 class="dashboard__section-title">Update Supplier Record</h3>

            <div class="dashboard__secion-form-container">
                <form 
                    action="/admin/manage/suppliers/update/supplier_id_123"
                    method="POST"
                    class="dashboard__secion-form"
                    >

                <!-- First Row -->
                <div class="dashboard__secion-form-row">
                    
                    <!-- Supplier Name -->
                    <div class="dashboard__secion-form-group">
                        <label for="supplierName" class="dashboard__secion-form-label">Supplier Name</label>
                        <input 
                            type="text" 
                            id="supplierName" 
                            name="supplier_name" 
                            class="dashboard__secion-form-input"
                            required="true"
                            maxlength="50"
                            value="Updated Supplier NAME"
                        />
                    </div>

                    <!-- Supplier Email -->
                    <div class="dashboard__secion-form-group">
                        <label for="supplierEmail" class="dashboard__secion-form-label">Supplier Email:</label>
                        <input 
                            type="email" 
                            id="supplierEmail" 
                            name="supplier_email" 
                            class="dashboard__secion-form-input"
                            required="true"
                            maxlength="50"
                            value="updated_EMAIL@example.com"
                        />
                    </div>

                </div>

                <!-- Second Row -->
                <div class="dashboard__secion-form-row">
                    
                    <!-- Supplier Phone -->
                    <div class="dashboard__secion-form-group">
                        <label for="supplierPhone" class="dashboard__secion-form-label">Suppler Phone</label>
                        <input 
                            type="text" 
                            id="supplierPhone" 
                            name="supplier_phone" 
                            class="dashboard__secion-form-input"
                            required="true"
                            maxlength="50"
                            value="Updated Supplier PHONE"
                        />
                    </div>

                    <!-- Supplier Address -->
                    <div class="dashboard__secion-form-group">
                        <label for="supplierAddress" class="dashboard__secion-form-label">Supplier Address</label>
                        <input 
                            type="text" 
                            id="supplierAddress" 
                            name="supplier_address" 
                            class="dashboard__secion-form-input"
                            required="required"
                            value="Updated Supplier Address"
                        />
                    </div>

                </div>

                <div class="dashboard__secion-form-actions">
                    <button type="submit" class="dashboard__secion-form-button">
                        Update Record
                    </button>
                    <a href="/admin/manage/suppliers" class="dashboard__secion-action-button">
                        Go Back
                    </a>
                </div>

                </form>
            </div>
        </div>

    </div>
</div>

<%- include( "../../../partials/admin/footer" ) -%>