<%- include( "../partials/header/prelogin" ) -%>

<div class="container">
    <div class="row">
        <div class="col-12">

            <div class="login-container">
                <div class="login-container-left">
                
                    <div class="login-tabs-container">

                        <div class="login-tabs-buttons">
                            <button class="tab user-login-tab" onclick="displayPanel('user')" id="userTabId">User</button>
                            <button class="tab admin-login-tab" onclick="displayPanel('admin')" id="adminTabId">Admin</button>
                        </div>

                        <div class="login-tabs-panels">
                            <div class="login-panel user-tabs-panel" id="userPanelId">
                                <h1>User Login</h1>

                                <form
                                class="form login-form"
                                action="/login"
                                method="POST">

                                <div class="mb-3">
                                    <label for="emailInputLogin" class="form-label">Email</label>
                                    <input 
                                        type="email"
                                        class="form-control border border-dark"
                                        id="emailInputLogin"
                                        placeholder="username@gmail.com"
                                        required="true"
                                        maxlength="60"
                                    />
                                </div>

                                <div class="mb-3">
                                    <label for="passwordInputLogin" class="form-label">Password</label>
                                    <input 
                                        type="password"
                                        class="form-control border border-dark"
                                        id="passwordInputLogin"
                                        placeholder="P@ssword123"
                                        required="true"
                                        min="8"
                                        maxlength="30"
                                    />
                                </div>

                                    <button type="submit" class="btn login-btn">Submit</button>

                                </form>
                            </div>

                            <div class="login-panel admin-tabs-panel" id="adminPanelId">
                                <h1>Admin Login</h1>
                            </div>
                        </div>

                    </div>

            </div>

            <div
                class="login-container-right">
                <img 
                    src="/assets/images/login_page_image.jpg"
                />
            </div>
        </div>

        </div>
    </div>
</div>

<script>

const userTabBtn = document.getElementById( "userTabId" );
const adminTabBtn = document.getElementById( "adminTabId" );
const userPanel = document.getElementById( "userPanelId" );
const adminPanel = document.getElementById( "adminPanelId" );

userPanel.style.display = "block";
userTabBtn.classList.add( "active" );

function displayPanel( websiteUser ) {
    switch ( websiteUser ) {
        case "user": {
            userPanel.style.display = "block";
            adminPanel.style.display = "none";
            userTabBtn.classList.add( "active" );
            adminTabBtn.classList.remove( "active" );
            break;
        }

        case "admin": {
            userPanel.style.display = "none";
            adminPanel.style.display = "block";
            adminTabBtn.classList.add( "active" );
            userTabBtn.classList.remove( "active" );
            break;
        }
    }
}

</script>

<%- include( "../partials/footer/footer" ) -%>